.LoginFormContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .FormInputRow {
    margin-bottom: 1rem;
    width: 100%;
  }
  .FormError {
    color: red;
    font-size: 0.8rem;
    text-align: left;
  }
}
