.FormLayoutWrapper {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  .LeftContainer,
  .RightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
  .LeftContainer {
    border-right: 1px solid lightgray;
    height: fit-content;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .RightContainer {
  }
}
